<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="uf850" >
  <xacro:macro name="uf850_robot" params="
    prefix:=''
    hw_ns:='xarm'
    limited:=false
    velocity_control:=false
    add_gripper:=false
    add_bio_gripper:=false
    ros2_control_plugin:='uf_robot_hardware/UFRobotSystemHardware' 
    robot_ip:=''
    report_type:='normal'
    ft_sensor_mode:='0'
    ft_coord:='0'
    ft_c_axis:='1 0 0 0 1 0'
    ft_f_ref:='8 0 0 0 0 0'
    ft_limits:='0 0 0 0 0 0'
    ft_kp:='0.005 0.005 0.005 0.005 0.005 0.005'
    ft_ki:='0.00005 0.00005 0.00005 0.00005 0.00005 0.00005'
    ft_kd:='0.05 0.05 0.05 0.05 0.05 0.05'
    ft_xe_limit:='200 200 200 0.1 0.1 0.1'
    ft_zero_on_activate:='true'
    home_on_activate:='true'
    home_pose:=''
    home_joints:='45 0 0 0 90 0'
    home_speed:='100'
    home_acc:='1000'
    home_joint_speed:='20'
    home_joint_acc:='200'
    tcp_speed:='200'
    tcp_acc:='2000'
    tcp_radius:='-1'
    cmd_queue_max:='16'
    baud_checkset:='true'
    default_gripper_baud:=2000000 
    model_num:=0
    inertial_params_filename:=''
    kinematics_params_filename:=''
    hard_interface:='PositionJointInterface' "
    >

    <!-- include uf850 relative macros: -->
    <xacro:if value="${is_ros2}">
      <xacro:include filename="$(find xarm_description)/urdf/uf850/uf850.ros2_control.xacro" />
    </xacro:if>
    <xacro:include filename="$(find xarm_description)/urdf/uf850/uf850.urdf.xacro" />
    <xacro:include filename="$(find xarm_description)/urdf/uf850/uf850.transmission.xacro" />
    <xacro:include filename="$(find xarm_description)/urdf/uf850/uf850.gazebo.xacro" />

    <xacro:if value="${limited}">
      <xacro:if value="${is_ros2}">
        <xacro:uf850_ros2_control prefix="${prefix}"
          velocity_control="${velocity_control}"
          ros2_control_plugin="${ros2_control_plugin}"
          hw_ns="${hw_ns}" add_gripper="${add_gripper}" add_bio_gripper="${add_bio_gripper}"
          robot_ip="${robot_ip}" report_type="${report_type}"
          ft_sensor_mode="${ft_sensor_mode}"
          ft_coord="${ft_coord}"
          ft_c_axis="${ft_c_axis}"
          ft_f_ref="${ft_f_ref}"
          ft_limits="${ft_limits}"
          ft_kp="${ft_kp}"
          ft_ki="${ft_ki}"
          ft_kd="${ft_kd}"
          ft_xe_limit="${ft_xe_limit}"
          ft_zero_on_activate="${ft_zero_on_activate}"
          home_on_activate="${home_on_activate}"
          home_pose="${home_pose}"
          home_joints="${home_joints}"
          home_speed="${home_speed}"
          home_acc="${home_acc}"
          home_joint_speed="${home_joint_speed}"
          home_joint_acc="${home_joint_acc}"
          tcp_speed="${tcp_speed}"
          tcp_acc="${tcp_acc}"
          tcp_radius="${tcp_radius}"
          cmd_queue_max="${cmd_queue_max}"
          baud_checkset="${baud_checkset}" default_gripper_baud="${default_gripper_baud}"
          joint1_lower_limit="${-pi*0.99}" joint1_upper_limit="${pi*0.99}"
          joint2_lower_limit="${-2.3038346}" joint2_upper_limit="${2.3038346}"
          joint3_lower_limit="${-pi*0.99}" joint3_upper_limit="${0.061087}"
          joint4_lower_limit="${-pi*0.99}" joint4_upper_limit="${pi*0.99}"
          joint5_lower_limit="${-2.1642}" joint5_upper_limit="${2.1642}"
          joint6_lower_limit="${-pi*0.99}" joint6_upper_limit="${pi*0.99}"/>
      </xacro:if>
      <xacro:uf850_urdf prefix="${prefix}"
        joint1_lower_limit="${-pi*0.99}" joint1_upper_limit="${pi*0.99}"
        joint2_lower_limit="${-2.3038346}" joint2_upper_limit="${2.3038346}"
        joint3_lower_limit="${-pi*0.99}" joint3_upper_limit="${0.061087}"
        joint4_lower_limit="${-pi*0.99}" joint4_upper_limit="${pi*0.99}"
        joint5_lower_limit="${-2.1642}" joint5_upper_limit="${2.1642}"
        joint6_lower_limit="${-pi*0.99}" joint6_upper_limit="${pi*0.99}"
        model_num="${model_num}"
        inertial_params_filename="${inertial_params_filename}"
        kinematics_params_filename="${kinematics_params_filename}"/>
    </xacro:if>
    <xacro:unless value="${limited}">
      <xacro:if value="${is_ros2}">
        <xacro:uf850_ros2_control prefix="${prefix}" velocity_control="${velocity_control}"
          ros2_control_plugin="${ros2_control_plugin}"
          hw_ns="${hw_ns}" add_gripper="${add_gripper}" add_bio_gripper="${add_bio_gripper}"
          robot_ip="${robot_ip}" report_type="${report_type}"
          ft_sensor_mode="${ft_sensor_mode}"
          ft_coord="${ft_coord}"
          ft_c_axis="${ft_c_axis}"
          ft_f_ref="${ft_f_ref}"
          ft_limits="${ft_limits}"
          ft_kp="${ft_kp}"
          ft_ki="${ft_ki}"
          ft_kd="${ft_kd}"
          ft_xe_limit="${ft_xe_limit}"
          ft_zero_on_activate="${ft_zero_on_activate}"
          home_on_activate="${home_on_activate}"
          home_pose="${home_pose}"
          home_joints="${home_joints}"
          home_speed="${home_speed}"
          home_acc="${home_acc}"
          home_joint_speed="${home_joint_speed}"
          home_joint_acc="${home_joint_acc}"
          tcp_speed="${tcp_speed}"
          tcp_acc="${tcp_acc}"
          tcp_radius="${tcp_radius}"
          cmd_queue_max="${cmd_queue_max}"
          baud_checkset="${baud_checkset}" default_gripper_baud="${default_gripper_baud}" />
      </xacro:if>
      <xacro:uf850_urdf prefix="${prefix}" model_num="${model_num}"
        inertial_params_filename="${inertial_params_filename}"
        kinematics_params_filename="${kinematics_params_filename}"/>
    </xacro:unless>

    <xacro:uf850_transmission prefix="${prefix}" hard_interface="${hard_interface}" />
    
    <xacro:uf850_gazebo prefix="${prefix}" />

  </xacro:macro>

</robot>
